BasicBattle/Intermediate/
BasicBattle/Saved/
BasicBattle/Binaries/
BasicBattle/.vs/BasicBattle/
BasicBattle/Content/Animations/
BasicBattle/Content/ParagonGreyStone/
!BasicBattle/Content/ParagonGreystone/Characters/Heroes/Greystone/Animations/Ability_R_Montage.uasset
BasicBattle/Content/ParagonMorigesh/
BasicBattle/BasicBattle.sln
